div.mainBigPlace {
    width: 1920px;
    height: 1000px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.mainHeap {
    width: 1920px;
    height: 100px;
    position: relative;
}

div.buttonsPlace {
    width: 1920px;
    height: 300px;
    position: relative;
}

button.leftButton {
    text-align: center;
    position: relative;
    top: 150px;
    right: 230px;
    height: 60px;
    width: 300px;
}

button.rightButton {
    text-align: center;
    position: relative;
    top: 150px;
    left: 300px;
    height: 60px;
    width: 300px;
}

button.mainLoginButton {
    position: absolute;
    top: 10px;
    left: 1280px;
    width: 220px;
    height: 60px;
}

button.mainRegisterButton {
    position: absolute;
    top: 10px;
    left: 1590px;
    width: 310px;
    height: 60px;
}


div.mainInfoPlace {
    width: 1920px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.mainServiceCost {
    left: 320px;
    width: 500px;
    height: 600px;
    text-align: center;
    position: absolute;
}

div.mainParkingPointInfo {
    left: 1080px;
    width: 612px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: absolute;
}

table.mainTables {
    position: relative;
    text-align: center;
    font-size: 28px;
    width: 100%;
    height: 500px;
    border: 1px solid black;
    border-collapse: collapse;
}

th.mainTables {
    border: 1px solid black;
    border-collapse: collapse;
    height: 15%;
}

tr.mainTables {
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;

}
td.mainTables {
    height: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}


