div.bigplace {
    width: 1024px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.carInfoSection {
    position: absolute;
    width: 512px;
    height: 500px;
}

div.carServiceSection {
    position: relative;
    left: 550px;
    width: 512px;
    height: 500px;
}

div.SubmitButton {
    position: absolute;
    top: 500px;
    width: 1024px;
    height: 100px;
}

div.SectionHeap {
    position: absolute;
    height: 150px;
    width: 512px;

}

div.SectionSelection {
    position: relative;
    top: 130px;
    height: 350px;
    width: 512px;
}

div.Props {
    position: relative;
    top: 0px;
    height: 100px;
}

h1.NameHeap {
    position: relative;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
}

h1.NameProps {
    position: relative;
    left: 10px;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
}

input.Props {
    position: absolute;
    top: 10px;
    type: "text";
}

table.Service {
    position: relative;
    text-align: center;
    font-size: 28px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th.Service {
    border: 1px solid black;
    border-collapse: collapse;
    height: 15%;
}

tr.Service {
    border: 1px solid black;
    border-collapse: collapse;

}
td.Service {
    border: 1px solid black;
    border-collapse: collapse;
}

button.GiveExit {
    position: absolute;
    left: 1050px;
    width: 80px;
    height: 40px;
}


button.Push {
    text-align: center;
    position: relative;
    top: 20px;
    height: 60px;
    width: 230px;
}

select.ParkingPoints {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 230px;
}

form.carInfoSection {
    position: absolute;
    width: 512px;
    height: 500px;
}