div.loginBigPlace {
    width: 1024px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.loginHeap {
    height: 100px;
    top:0px;
    position: relative;
}

h1.loginHeap {
    position: relative;
    text-align: center;
}

div.loginProps {
    position: relative;
    top: 0px;
    height: 70px;
}

h1.loginNameProps {
    position: relative;
    width: 450px;
    text-align: right;
    line-height: 50px;
    font-size: 30px;
}

input.loginProps {
    position: absolute;
    top: 10px;
    left: 480px;
    width: 250px;
    type: "text";
}

button.LoginExit {
    position: absolute;
    left: 1024px;
    width: 80px;
    height: 40px;
}

button.loginButton {
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
    height: 65px;
    width: 180px;
}
