div.AdminBigPlace {
    width: 1920px;
    height: 2600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.AdminHead {
    width: 1920px;
    position: relative;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

h1.AdminHead {
    top: 20%;
    position: absolute;
    left: 800px;
    font-size: 48px;
}

button.AdminLogOut {
    position: absolute;
    top: 10px;
    left: 1650px;
    width: 210px;
    height: 70px;
}

div.AdminAllCarPlace {
    width: 1920px;
    position : relative;
    height: 600px;
}

h1.AdminAllCarPlaceName {
    text-align: center;
    position: relative;
}

div.AdminCarTable {
    width: 40%;
    position: absolute;
    height: 700px;
}

div.AdminCarReplaceSection {
    width: 27%;
    left: 40%;
    position: absolute;
    height: 700px;
}

div.AdminCarInputSection {
    position: absolute;
    height: 700px;
    width: 33%;
    left: 67%;
}

table.AdminAllCar {
    position: absolute;
    top: 50px;
    height: 600px;
    width: 100%;
    left: 5%;
    text-align: center;
    font-size: 28px;
    border: 1px solid black;
    border-collapse: collapse;
    overflow: auto;
}

th.AdminAllCarTableHeap {
    border: 2px solid black;
    border-collapse: collapse;
    height: 15%;
    overflow: auto;
}

tbody.AdminAllCarTableHeap {
    overflow: auto;
}

tr.AdminAllCarTableHeap {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

td.AdminAllCarTableHeap {
    overflow: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

button.AdminUpdateColumnButton {
    position: absolute;
    top: 100px;
    left: 190px;
    width: 250px;
    height: 80px;
}

button.AdminDeleteColumnButton {
    position: absolute;
    top: 300px;
    left: 190px;
    width: 250px;
    height: 80px;
}

button.AdminInsertColumnButton {
    position: absolute;
    top: 500px;
    left: 190px;
    width: 250px;
    height: 80px;
}

div.AdminInputs {
    position: relative;
    top: 150px;
    left: 100px;
    width: 490px;
    height: 70px;
}

div.AdminSpaceFiller {
    position: center;
    width: 100%;
    height: 100%;
}

h3.AdminInputs {
    position: absolute;
    width: 300px;
    left: -50px;
    top:10px;
}

select.AdminInputs {
    position: absolute;
    left: 250px;
    top: 15px;
    width: 230px;
    height: 40px;
}

input.AdminInputs {
    position: absolute;
    left: 250px;
    top: 15px;
    width: 230px;
    height: 40px;
}

button.AdminCreateCar {
    position: absolute;

}

button.AdminUpdateCar {
    position: absolute;
    top: 500px;
    left: 200px;
    width: 250px;
    height: 80px;
}

button.AdminDeleteCar {
    position: absolute;
    top: 400px;
    left: 200px;
    width: 250px;
    height: 80px;
}

div.AdminAllServicePlace {
    width: 1920px;
    position : relative;
    height: 600px;
    top: 200px;
}


div.AdminAllParkingPointPlace {
    width: 1920px;
    position : relative;
    height: 600px;
    top: 400px;
}

button.AdminUpdateNameParkingPointButton {
    position: absolute;
    top: 50px;
    left: 170px;
    width: 300px;
    height: 80px;
}
button.AdminUpdatePassengerParkingPointButton {
    position: absolute;
    top: 170px;
    left: 170px;
    width: 300px;
    height: 80px;
}

button.AdminUpdateCargoParkingPointButton {
    position: absolute;
    top: 300px;
    left: 170px;
    width: 300px;
    height: 80px;
}

button.AdminInsertParkingPointButton {
    position: absolute;
    top: 430px;
    left: 170px;
    width: 300px;
    height: 80px;
}

button.AdminDeleteParkingPointButton {
    position: absolute;
    top: 560px;
    left: 170px;
    width: 300px;
    height: 80px;
}