div.registrationBigPlace {
    width: 1024px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.heap {
    height: 100px;
    top:0px;
    position: relative;
}

h1.heap {
    position: relative;
    text-align: center;
}

div.registrationProps {
    position: relative;
    top: 0px;
    height: 70px;
}

h1.registrationNameProps {
    position: relative;
    width: 450px;
    text-align: right;
    line-height: 50px;
    font-size: 30px;
}

input.registrationProps {
    position: absolute;
    top: 10px;
    left: 480px;
    width: 250px;
    type: "text";
}

button.RegistrationExit {
    position: absolute;
    left: 1024px;
    width: 80px;
    height: 40px;
}

button.registrationButton {
    text-align: center;
    position: relative;
    top: 10px;
    left: 20px;
    height: 65px;
    width: 225px;
}
