div.ProfileBigPlace {
    width: 1900px;
    height: 1000px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.ProfileHeap {
    width: 1920px;
    height: 100px;
    position: relative;
}

div.ProfileUser {
    width: 700px;
    top: 100px;
    height: 900px;
    position: absolute;
}

div.ProfileHistory {
    left: 700px;
    top: 100px;
    height: 900px;
    width: 1200px;
    position: absolute;
}

h1.ProfileHeap {
    padding-top: 20px;
    font-size: 42px;
    text-align: center;
}

button.ProfileLogOut {
    position: absolute;
    top: 10px;
    left: 1280px;
    width: 190px;
    height: 60px;
}

button.ProfileBackToMain {
    position: absolute;
    top: 10px;
    left: 1520px;
    width: 360px;
    height: 60px;
}

h1.UserName {
    padding-top: 250px;
    font-size: 32px;
    text-align: center;
}

h1.UserPhone {
    padding-top: 20px;
    font-size: 32px;
    text-align: center;
}

h1.ProfileHistory {
    padding-top: 100px;
    text-align: center;
    font-size: 32px;
    position: relative;
}

table.ProfileHistory {
    position: relative;
    text-align: center;
    font-size: 28px;
    left: 200px;
    width: 800px;
    height: 600px;
    border: 1px solid black;
    border-collapse: collapse;
}

th.ProfileHistory {
    border: 1px solid black;
    border-collapse: collapse;
    height: 15%;
}
tbody.ProfileHistory {
    overflow: auto;
}


tr.ProfileHistory {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td.ProfileHistory {
    border: 1px solid black;
    border-collapse: collapse;
}

