div.getBigplace {
    width: 1024px;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

div.carNumberSection {
    position: absolute;
    width: 512px;
    height: 600px;
}

div.carGetSection {
    position: relative;
    top: -30px;
    left: 512px;
    width: 512px;
    height: 600px;
}


h2.numberCarText {
    position: relative;
    text-align: center;
    top: 100px;
    font-size: 42px;

}

div.number {
    position: relative;
    top: 175px;
    height: 100px;
}

h1.nameNumber {
    position: relative;
    left: 0px;
    text-align: left;
    line-height: 50px;
    font-size: 30px;
}

input.number {
    position: absolute;
    top: 10px;
    type: "text";
}

div.button {
    position: relative;
    top: 200px;
    height: 150px;
}

button.setNumber {
    text-align: center;
    position: relative;
    top: 20px;
    height: 60px;
    width: 180px;
}

table.serviceInfo {
    position: relative;
    font-size: 28px;
    text-align: center;
    top: 50px;
    height: 100px;
    width: 300px;
    left: 106px;
}

h2.carInfo {
    position: relative;
    text-align: center;
    top: 50px;
}

h2.FinalPrice {
    position: relative;
    text-align: center;
    top: 70px;
}

button.getCar {
    text-align: center;
    position: relative;
    top: 85px;
    height: 65px;
    width: 210px;
}

button.Exit {
    position: absolute;
    left: 1050px;
    width: 80px;
    height: 40px;
}